<header class="row">
  <img
    routerLink="/"
    class="col-md-2 col-4"
    src="../assets/img/logo.png"
  />

  <nav class="col-md-10 col-12">
    <button routerLink="/">
      <span class="box"> Pilotos </span>
    </button>

    <button routerLink="/escuderias">
      <span class="box"> Escuderías </span>
    </button>

    <button routerLink="/ganadores">
      <span class="box"> Ganadores </span>
    </button>

    <button routerLink="/circuitos">
      <span class="box"> Circuitos </span>
    </button>

    <button *ngIf="getUsuario()==false" routerLink="/fantasy">
      <span class="box"> Fantasy </span>
    </button>
  </nav>

  <div *ngIf="getUsuario()">
    <button routerLink="/login" class="btn btn-outline-danger">
      LogIn
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-person-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
        />
      </svg>
    </button>
  </div>
  <div class="nUsuario" *ngIf="getUsuario()==false">
    <h1>{{usuario | titlecase}}</h1>
    <button class="btn btn-outline-danger" (click)="cerrarSesion()">
      LogOut
    </button>
  </div>
</header>
